$light-blue-1: #caf0f8;
$light-blue-2: #ade8f4;
$light-blue-3: #90e0ef;
$light-blue-4: #48cae4;
$light-blue-5: #00b4d8;
$light-blue-6: #0096c7;
$light-blue-7: #0077b6;
$light-blue-8: #023e8a;
$light-blue-9: #03045e;

$dark-black-1: #212529;
$dark-black-2: #343a40;
$dark-black-3: #495057;
$dark-black-4: #6c757d;
$dark-black-5: #adb5bd;

$color-grey-2: #ced4da;
$color-grey-1: #e9ecef;
$color-white-1: #f8f9fa;

$dark-purple-1: #10002b;
$dark-purple-2: #240046;
$dark-purple-3: #3c096c;
$dark-purple-4: #5a189a;
$dark-purple-5: #7b2cbf;
$dark-purple-6: #9d4edd;
$dark-purple-7: #c77dff;
$dark-purple-8: #e0aaff;
